<div class="body-content-overlay"></div>
<!-- Main chat area -->
<section class="chat-app-window">
  <!-- To load Conversation -->
  <div class="start-chat-area" [ngClass]="{ 'd-none': activeChat === true }">
    <div class="mb-1 start-chat-icon">
      <i data-feather="message-square"></i>
    </div>
    <h4
      class="sidebar-toggle start-chat-text"
      (click)="toggleSidebar('chat-sidebar')"
    >
      Bắt đầu trò chuyện
    </h4>
  </div>
  <!--/ To load Conversation -->

  <!-- Active Chat -->
  <div
    class="active-chat"
    [ngClass]="{ 'd-none': activeChat !== true }"
    *ngIf="activeChat === true"
  >
    <!-- Chat Header -->
    <div class="chat-navbar">
      <header class="chat-header">
        <div class="d-flex align-items-center">
          <button
            class="btn sidebar-toggle d-block d-lg-none mr-1 p-0"
            (click)="toggleSidebar('chat-sidebar')"
          >
            <i data-feather="menu" class="font-medium-5"></i>
          </button>
          <button
            class="btn avatar avatar-border user-profile-toggle bg-transparent m-0 mr-1 p-0"
            (click)="toggleSidebar('chat-active-sidebar')"
          >
            <img [src]="chatUser?.avatar" alt="avatar" height="36" width="36" />
          </button>
          <h6 class="mb-0">{{ chatUser?.username }}</h6>
        </div>
      </header>
    </div>
    <!--/ Chat Header -->

    <!-- User Chat messages -->
    <div
      class="user-chats"
      [perfectScrollbar]
      #scrollMe
      [scrollTop]="scrolltop"
    >
      <div class="chats">
        <div
          class="chat"
          *ngFor="let chat of chats"
          [ngClass]="{ 'chat-left': chat.userId === chatUser.id }"
        >
          <div class="chat-avatar">
            <span class="avatar box-shadow-1 cursor-pointer">
              <img
                *ngIf="chat.userId === chatUser.id; else alternateAvatar"
                [src]="chatUser.avatar"
                alt="avatar"
                height="36"
                width="36"
              />
              <ng-template #alternateAvatar>
                <img
                  [src]="currentUser.avatar"
                  alt="avatar"
                  height="36"
                  width="36"
                />
              </ng-template>
            </span>
          </div>
          <div class="chat-body">
            <div class="chat-content">
              <p>{{ chat.content }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- User Chat messages -->

    <!-- Submit Chat form -->
    <form class="chat-app-form" action="javascript:void(0);">
      <div
        class="emoji-picker"
        *ngIf="showEmojiPicker"
        (click)="$event.stopPropagation()"
      >
        <emoji-mart
          [showPreview]="false"
          [enableSearch]="false"
          [emojiTooltip]="false"
          (emojiSelect)="emojiSelect($event)"
          set="google"
        ></emoji-mart>
      </div>
      <div class="input-group input-group-merge mr-1 form-send-message">
        <input
          type="text"
          class="form-control message"
          placeholder="Nhập tin nhắn"
          [(ngModel)]="chatMessage"
          name="chat-message"
          (keydown.enter)="updateChat()"
        />
        <div class="input-group-append">
          <span class="input-group-text">
            <label for="attach-doc" class="attachment-icon mb-0">
              <i
                data-feather="image"
                class="cursor-pointer lighten-2 text-secondary"
              ></i>
              <input type="file" id="attach-doc" hidden /> </label
          ></span>
          <span
            class="input-group-text pl-0"
            (click)="openEmojiPicker($event)"
            title="Biểu cảm"
          >
            <label class="attachment-icon mb-0">
              <i
                data-feather="smile"
                class="cursor-pointer lighten-2 text-secondary"
              ></i>
            </label>
          </span>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary send"
        [disabled]="!chatMessage"
        (click)="updateChat()"
        rippleEffect
      >
        <i data-feather="send"></i>
      </button>
    </form>
    <!--/ Submit Chat form -->
  </div>
  <!--/ Active Chat -->
</section>
<!--/ Main chat area -->
