<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">Bình luận</h4>
  <button
    type="button"
    class="close"
    (click)="modal.dismiss('Cross click')"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div
  class="modal-body"
  style="max-height: 60vh"
  tabindex="0"
  ngbAutofocus
  #scrollMe
  [perfectScrollbar]
  [scrollTop]="scrollTop"
  (scroll)="onScroll($event)"
>
  <div class="d-flex align-items-start mb-1" *ngFor="let comment of comments">
    <div class="avatar mt-25 mr-75">
      <img
        [src]="comment.createdBy.avatar"
        alt="Avatar"
        height="34"
        width="34"
      />
    </div>
    <div class="profile-user-info w-100">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0">{{ comment.createdBy.username }}</h6>
        <a *ngIf="comment.createdAt" href="javascript:void(0)" (click)="reactComment(comment)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            stroke-width="2"
            fill="none"
            stroke="#6e6b7b"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-heart profile-likes font-medium-3 mr-50"
            [ngClass]="{ 'is-react': comment.isReact }"
          >
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path>
          </svg>
          <span class="align-middle text-muted"> {{ comment.totalReact }}</span>
        </a>
      </div>
      <div>{{ comment.content }}</div>
      <small class="text-muted">{{
        comment.createdAt
          ? (comment.createdAt | date : "HH:mm dd/MM/yyyy")
          : "Đang tải"
      }}</small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <form [formGroup]="form" class="w-100">
    <fieldset class="form-label-group mb-50 w-100">
      <textarea
        class="form-control"
        formControlName="content"
        rows="2"
        placeholder="Thêm bình luận"
        (keydown)="onKeydown($event)"
      ></textarea>
    </fieldset>
    <div class="d-flex justify-content-between w-100">
      <input
        #fileInput
        type="file"
        hidden
        (change)="onFileInput($event)"
        onclick="this.value=null"
        accept=".jpeg, .jpg, .png"
      />
      <div>
        <button
          type="button"
          class="btn btn-icon btn-flat-primary"
          rippleEffect
        >
          <span [data-feather]="'smile'"></span>
        </button>
        <button
          type="button"
          class="btn btn-icon btn-flat-primary"
          rippleEffect
          (click)="fileInput.click()"
        >
          <span [data-feather]="'image'"></span>
        </button>
      </div>
      <button
        type="button"
        class="btn btn-icon btn-flat-primary"
        rippleEffect
        (click)="onSubmit()"
        [disabled]="!(form.valid || photos.length > 0)"
      >
        <span [data-feather]="'send'"></span>
      </button>
    </div>
    <div *ngFor="let item of photos">
      <img [src]="item.b64" class="img-fluid w-50" />
    </div>
  </form>
</div>
