<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <div class="avatar">
          <img
            src="assets/images/portrait/small/avatar-s-11.jpg"
            height="38"
            width="38"
          />
        </div>
      </div>
      <div class="col-11">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Bài viết mới"
            (click)="modalOpen()"
            readonly
          />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalBasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">
      Tạo bài viết {{ photoEdit?.b64 }}
    </h4>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div *ngIf="!isPhotoPreview; else photoPreview">
      <form [formGroup]="form">
        <fieldset class="form-group">
          <textarea
            class="form-control"
            rows="3"
            placeholder="Nội dung"
            formControlName="content"
          ></textarea>
        </fieldset>

        <!-- ngb-carousel component -->
        <div class="position-relative" *ngIf="photos.length > 0">
          <div class="photo-edit-btn">
            <button
              type="button"
              class="btn btn-outline-primary"
              rippleEffect
              (click)="togglePhotoPreview()"
            >
              <span [data-feather]="'edit'" [class]="'mr-25'"></span>Chỉnh sửa
            </button>
          </div>
          <ngb-carousel [interval]="3000">
            <ng-template *ngFor="let i of photos" ngbSlide>
              <div class="carousel-img-wrapper">
                <img [src]="i.b64" class="img-fluid" />
              </div>
              <div class="carousel-caption"></div>
            </ng-template>
          </ngb-carousel>
        </div>

        <!-- ngb-carousel component -->
      </form>
    </div>
    <ng-template #photoPreview>
      <div class="row" *ngIf="!isPhotoEdit; else photoEdit">
        <div
          *ngFor="let item of photos; let i = index"
          class="col-6 mb-1 photo-item"
        >
          <div class="position-relative">
            <div class="photo-edit-btn photo-item-edit-btn">
              <button
                (click)="togglePhotoEdit(i)"
                type="button"
                class="btn btn-icon btn-outline-primary"
                rippleEffect
              >
                <span [data-feather]="'edit'"></span>
              </button>
              <button
                type="button"
                class="btn btn-icon btn-outline-danger ml-50"
                rippleEffect
                (click)="deletePhotoItem(i)"
              >
                <span [data-feather]="'trash'"></span>
              </button>
            </div>

            <img [src]="item.b64" class="img-fluid" [id]="i" />
          </div>
        </div>
      </div>
      <ng-template #photoEdit>
        <div>{{ isPhotoEdit }}</div>
        <img [src]="photoEdit?.b64" class="img-fluid" />
      </ng-template>
    </ng-template>
    <input
      #fileInput
      type="file"
      hidden
      multiple
      (change)="onFileInput($event)"
      onclick="this.value=null"
      accept=".jpeg, .jpg, .png"
    />
  </div>
  <div class="modal-footer">
    <button
      *ngIf="!isPhotoEdit"
      type="button"
      class="btn btn-outline-primary w-100"
      (click)="fileInput.click()"
      rippleEffect
    >
      Thêm ảnh
    </button>
    <button
      *ngIf="isPhotoEdit"
      type="button"
      class="btn btn-primary w-100"
      (click)="fileInput.click()"
      rippleEffect
    >
      Lưu ảnh
    </button>
    <button
      *ngIf="!isPhotoPreview"
      type="button"
      class="btn btn-primary w-100"
      (click)="onSubmit()"
      rippleEffect
      [disabled]="!(f.content.value || photos.length > 0)"
    >
      Đăng
    </button>
    <button
      *ngIf="isPhotoPreview && !isPhotoEdit"
      type="button"
      class="btn btn-outline-primary w-100"
      (click)="togglePhotoPreview()"
      rippleEffect
    >
      Quay lại
    </button>
    <button
      *ngIf="isPhotoEdit"
      type="button"
      class="btn btn-outline-primary w-100"
      (click)="togglePhotoEdit()"
      rippleEffect
    >
      Hủy
    </button>
  </div>
</ng-template>
