.photo-edit-btn {
  position: absolute;
  right: 0;
  margin: 15px;
  z-index: 2;
}

.photo-item-edit-btn {
  display: none;

  .photo-item:hover & {
    display: block;
  }
}

#crop-wrapper {
  position: absolute;
  border: 1px solid red;
  top: 0;
  left: 0;
}

.resize {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid red;

  &#top-left {
    top: -8px;
    left: -8px;
    cursor: nw-resize;
  }

  &#top-right {
    top: -8px;
    right: -8px;
    cursor: ne-resize;
  }

  &#bottom-left {
    bottom: -8px;
    left: -8px;
    cursor: sw-resize;
  }

  &#bottom-right {
    bottom: -8px;
    right: -8px;
    cursor: se-resize;
  }
}