<!-- Chat Sidebar area -->
<div class="chat-sidebar bg-white">
  <button
    class="btn sidebar-close-icon"
    (click)="toggleSidebar('chat-sidebar')"
  >
    <i data-feather="x"></i>
  </button>
  <!-- Sidebar header start -->
  <div class="chat-fixed-search">
    <div class="d-flex align-items-center w-100">
      <div class="input-group input-group-merge ml-1 w-100">
        <div class="input-group-prepend">
          <span class="input-group-text round"
            ><i data-feather="search" class="text-muted"></i
          ></span>
        </div>
        <input
          type="text"
          class="form-control round"
          id="chat-search"
          placeholder="Tìm kiếm"
          aria-label="Search..."
          aria-describedby="chat-search"
          [formControl]="searchControl"
        />
      </div>
    </div>
  </div>
  <!-- Sidebar header end -->

  <!-- Sidebar Rooms start -->
  <div
    id="users-list"
    class="chat-user-list-wrapper list-group"
    [perfectScrollbar]
  >
    <!-- <ng-container *ngIf="(chatUsers | filter: searchText:'fullName').length; else noResultsChats"></ng-container> -->
    <ul *ngIf="users.length == 0" class="chat-users-list chat-list media-list">
      <li
        *ngFor="let room of rooms"
        [class.active]="selectedIndex === room.id"
        (click)="openChat(room.id); toggleSidebar('chat-sidebar')"
      >
        <span class="avatar"
          ><img
            [src]="
              room.users[0].id == currentUser.id
                ? room.users[1].avatar
                : room.users[0].avatar
            "
            height="42"
            width="42"
            alt="Generic placeholder image"
          />
        </span>
        <div class="chat-info flex-grow-1">
          <h5 class="mb-0">
            {{
              room.users[0].id == currentUser.id
                ? room.users[1].username
                : room.users[0].username
            }}
          </h5>
          <p class="card-text text-truncate">
            {{ formatLastMessage(room) }}
          </p>
        </div>
        <div class="chat-meta text-nowrap">
          <small class="float-right mb-25 chat-time">{{
            formatTime(room.lastMessage?.createdAt)
          }}</small>
        </div>
      </li>

      <ng-template #noResultsChats>
        <li
          class="no-results"
          [ngClass]="{
            show: (chatUsers | filter : searchText : 'fullName').length <= 0
          }"
        >
          <h6 class="mb-0">Không có kết quả</h6>
        </li>
      </ng-template>
    </ul>

    <ul *ngIf="users.length > 0" class="chat-users-list chat-list media-list">
      <li
        *ngFor="let user of users; let i = index"
        [class.active]="selectedIndex === i"
        (click)="openUserChat(user.id); toggleSidebar('chat-sidebar')"
      >
        <span class="avatar"
          ><img
            [src]="user.avatar"
            height="42"
            width="42"
            alt="Generic placeholder image"
          />
        </span>
        <div class="chat-info flex-grow-1">
          <h5 class="mb-0">
            {{ user.username }}
          </h5>
        </div>
      </li>

      <ng-template #noResultsChats>
        <li
          class="no-results"
          [ngClass]="{
            show: (chatUsers | filter : searchText : 'fullName').length <= 0
          }"
        >
          <h6 class="mb-0">Không có kết quả</h6>
        </li>
      </ng-template>
    </ul>
  </div>
  <!-- Sidebar Rooms end -->
</div>
<!--/ Chat Sidebar area -->
