<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <div class="d-flex">
        <!-- avatar -->
        <div class="avatar mr-1">
          <a [routerLink]="'/profile/' + post.createdBy.id">
            <img
              [src]="post.createdBy.avatar"
              alt="avatar img"
              height="35"
              width="35"
            />
          </a>
        </div>
        <!--/ avatar -->
        <div class="profile-user-info">
          <h6 class="mb-0">{{ post.createdBy.username }}</h6>
          <small class="text-muted">{{
            post.createdAt | date : "HH:mm dd/MM/yyyy"
          }}</small>
        </div>
      </div>

      <div *ngIf="currentUser.id == post.createdBy.id" class="btn-group">
        <div ngbDropdown container="body">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="hide-arrow"
            id="dropdownBrowserState"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i
              data-feather="more-vertical"
              class="text-secondary cursor-pointer mr-50"
            ></i>
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu-right"
            aria-labelledby="dropdownBrowserState"
          >
            <a
              href="javascript:void(0)"
              ngbDropdownItem
              class="d-flex align-items-center"
              ><i data-feather="edit" class="mr-50"></i> Chỉnh sửa</a
            >
            <a
              href="javascript:void(0)"
              ngbDropdownItem
              class="d-flex align-items-center"
              ><i data-feather="trash-2" class="mr-50"></i> Xóa</a
            >
          </div>
        </div>
      </div>
    </div>
    <p class="card-text">
      {{ post.content }}
    </p>
    <!-- post img -->
    <div *ngIf="post.photos.length > 0" class="d-flex justify-content-center">
      <!-- ngb-carousel component -->
      <ngb-carousel [interval]="3000">
        <ng-template *ngFor="let photo of post.photos" ngbSlide>
          <div class="img-fluid rounded mb-75 position-relative">
            <img
              [id]="'img' + photo.id"
              [src]="photo.content"
              class="img-fluid"
              style="height: 500px"
            />
            <div
              *ngFor="let tag of photo.tags"
              [ngStyle]="
                convertCoordinates(
                  'img' + photo.id,
                  tag.offsetLeft,
                  tag.offsetTop
                )
              "
              class="badge badge-primary position-absolute"
            >
              <i data-feather="tag" class="mr-25"></i>
              <span>{{ tag.user.username }}</span>
            </div>
          </div>
          <div class="carousel-caption"></div>
        </ng-template>
      </ngb-carousel>
      <!-- ngb-carousel component -->
    </div>

    <div
      class="row d-flex justify-content-start align-items-center flex-wrap pb-50"
    >
      <div
        class="col-sm-6 d-flex justify-content-between justify-content-sm-start mb-2"
      >
        <app-react-list [post]="post"></app-react-list>
      </div>

      <!-- share and like count and icons -->
      <div
        class="col-sm-6 d-flex justify-content-between justify-content-sm-end align-items-center mb-2"
      >
        <app-comment [post]="post"></app-comment>
      </div>
      <!-- share and like count and icons -->
    </div>
    <!-- like share -->
  </div>
</div>
